.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    /* min-height: 10vh; */
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(8px + 1vmin);
    color: white;
    border-radius: 100px;
    margin: 10px;
}

.App-footer {
    background-color: red;
    height: 10%;
    color: white;
    border-radius: 100px;
    margin: 2px;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Game {
    background-color: blue;
    color: white;
    width: 100%;
    height: auto;
    border-radius: 10px;
    left: auto;
    float: left;
}

.Stats {
    position: absolute;
    background-color: crimson;
    color: white;
    height: 50%;
    width: 100%;
    border-radius: 10px;
}

.container {
    width: auto;
    height: auto;
    /* background: rgb(3, 255, 255); */
    margin: 10px;
    padding: 10px;
}

p {
    margin: auto;
}